---
topTitle: VirtualCoach
title: Principal
icon: fa fa-line-chart
cdncss:
- //cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.5/fullcalendar.min.css
cdnjs:
- //cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js
- //cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js
- //cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.5/fullcalendar.min.js
- //cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.18.4/js/jquery.tablesorter.min.js
- //cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js
- //cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js
- //cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.selection.min.js
- //cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.min.js
scripts:
- Metis.dashboard()
---
<div class="text-center">
    <ul class="stats_box">
	<li>
	    <div class="sparkline bar_week"></div>
	    <div class="stat_text">
		<strong>2.345</strong>Avance Semanal
		<span class="percent down"> <i class="fa fa-caret-down"></i> -16%</span>
	    </div>
	</li>
	<li>
	    <div class="sparkline line_day"></div>
	    <div class="stat_text">
		<strong>165</strong>Hoy
		<span class="percent up"> <i class="fa fa-caret-up"></i> +23%</span>
	    </div>
	</li>

	<li>
	    <div class="sparkline stacked_month"></div>
	    <div class="stat_text">
		<strong>$678.00</strong>Avance Mensual
		<span class="percent down"> <i class="fa fa-caret-down"></i> -10%</span>
	    </div>
	</li>
    </ul>
</div>
<hr>
<div class="text-center">

    <a class="quick-btn" href="#">
	<i class="fa fa-bolt fa-2x"></i>
	<span>Rutina 1</span>
	<span class="label label-default">2</span>
    </a>
    <a class="quick-btn" href="#">
	<i class="fa fa-check fa-2x"></i>
	<span>Rutina 2</span>
	<span class="label label-danger">2</span>
    </a>
    <a class="quick-btn" href="#">
	<i class="fa fa-building-o fa-2x"></i>
	<span>Rutina 3</span>
    </a>
    <a class="quick-btn" href="#">
	<i class="fa fa-envelope fa-2x"></i>
	<span>Rutina 4</span>
	<span class="label label-success">-456</span>
    </a>
    <a class="quick-btn" href="#">
	<i class="fa fa-signal fa-2x"></i>
	<span>Rutina 5</span>
	<span class="label label-warning">+25</span>
    </a>
</div>
<hr>
<div class="row">
    <div class="col-lg-8">
	<div class="box">
	    <header>
		<h5>Estadisticas</h5>
	    </header>
	    <div class="body" id="trigo" style="height: 250px;"></div>
	</div>
    </div>
    <div class="col-lg-4">
	<div class="box">
	    <div class="body">
		<table class="table table-condensed table-hovered sortableTable">
		    <thead>
			<tr>
				<th>Usuario <i class="fa sort"></i></th>
			    <th>Ejercicio <i class="fa sort"></i></th>
			    <th>Peso (Kg) <i class="fa sort"></i></th>
			    <th>Repeticiones<i class="fa sort"></i></th>
				<th>Tiempo(Serie)<i class="fa sort"></i></th>

			</tr>
		    </thead>
		    <tbody>
			<tr class="succes">
			    <td>Cliente 1</td>
				<td>Press Banca</td>
			    <td>45</td>
				<td>8</td>
			    <td>00:00:45</td>
			</tr>
			<tr class="succes">
			    <td>Cliente 2</td>
				<td>Sentadilla</td>
			    <td>100</td>
				<td>8</td>
			    <td>00:00:45</td>
			</tr>
			<tr class="succes">
			    <td>Cliente 3</td>
				<td>Peso muerto</td>
			    <td>90</td>
				<td>8</td>
			    <td>00:01:00</td>
			</tr>
			<tr>
			    <td>Cliente 4</td>
			    <td>Press Banca</td>
				<td>35</td>
				<td>8</td>
			    <td>00:01:15</td>
			</tr>
			<tr class="warning">
			    <td>Cliente 5</td>
				<td>Sentadilla</td>
			    <td>80</td>
				<td>8</td>
			    <td>00:00:55</td>
			</tr>
			<tr class="warning">
			    <td>Cliente 6</td>
				<td>Biceps</td>
			    <td>25</td>
				<td>8</td>
			    <td>00:00:40</td>
			</tr>
		    </tbody>
		</table>
	    </div>
	</div>
    </div>
</div>
